.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #F8F8FF;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #4682B4;
}

.content-button{
  min-width: 50%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 5px 0 5px 0;
  background-color: #4682B4;
  color: #F8F8FF;
  font-family: 'Arial Black';
  transition: all 0.3s;
}

.content-button:hover{
  background-color: #708090;
}

.editor-view{
  background-color: #DCDCDC;
  height: 92vh;
}