/*Campo de edição do texto*/
.editor-paper{
    min-height: 200px;
    margin: 0 15px 15px 15px;
    padding: 15px;
    border-style: outset;
    border-width: 1px;
    border-radius: 0 0px 8px 8px;
    background-color: white;
}

/*Botões*/
.editor-button{
    height: 40px;
    min-width: 100px;
    max-width: 50%;
    border: none;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    background-color: #4682B4;
    color: #F8F8FF;
    font-family: 'Arial Black';
    transition: all 0.3s;
}

.editor-button:hover{
    background-color: #708090;;
}


/*Espaço que contem os botões*/
.controls-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
}


/*Body*/
.editor-content{
    background-color:#DCDCDC;
}

.editor-content-title{
    color: #4682B4;
    text-align: center;
}

.toolbar-content{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    border-style: outset;
    border-width: 1px;
    border-radius: 8px 8px 0 0;
    background-color: white;
}

.toolbar-content button{
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: all 0.3s;
}

.toolbar-content button:hover{
    background-color: #DCDCDC;
}

.toolbar-content button svg{
    border: none;
    width: 15px;
    height: 15px;
}

.toolbar-divisor{
    display: block;
    height: 30px;
    width: 1px;
    background-color: #DCDCDC;
}

.editor-modal-glass{
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    justify-content: center;
}

.editor-modal-container{
    display: block;
    background: white;
    margin: 20vh 0 10vh 0;
    min-width: 80vw;
    padding: 35px;
    position: relative;
    overflow: auto;
}

.editor-modal-closer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 10vh;
    right: 3vw;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bolder;
    transition: all 0.3s;
}

.editor-modal-closer:hover{
    background-color: rgba(255,255,255,.5);
}

.editor-modal-children-conteint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.editor-modal-children-conteint-input{
    min-width: 50%;
    margin: 0 0 0 4px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

.editor-modal-numberinput{
    width: 80px;
    height: 30px;
    padding: 4px;
    margin: 4px;
    border-radius: 10px;
    border-style: solid;
}

.editor-modal-children-conteint button{
    margin-top: 10px;
}

.editor-modal-children-subconteint{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

.popup{
    position: fixed;
    bottom: 15px;
    left: 17px;
    min-width: 20%;
    padding: 8px;
    border-style: outset;
    border-width: 1px;
    border-radius: 8px;
    border-color: #4682B4;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
}

.popup span{
    float: right;
}

.popup button{
    border: none;
}